*{
    margin: 0;
    padding: 0;
    box-sizing:0;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: azure;
    font-family: 'Roboto';
}
nav li{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
h1{
    font-family: 'Roboto';
    font-size: 20px;
}
.images {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr 2fr 4fr ;
    grid-template-areas:
    "1 1 2 3"
    "4 4 4 3"
    "4 4 4 5"
    "6 7 7 7"
    ;

    gap: 10px;
}

#1 {
    grid-area: 1;
}

#2{
    grid-area: 2;
}

#3{
    grid-area: 3;
}

#4{
    grid-area: 4;
}

#5{
    grid-area: 5; 
}

#6{
    grid-area: 6;
}
#7{
    grid-area: 7;
}

